html, 
body {
    height: 100%;
}

.wrapper {
    margin: 10px 10px 10px;
    height: 100%;
}

.grid {
    padding: 25px;
    font-size: 3rem;
}

.breadcrumb {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    width: 50%;
    margin-top: 0px;
}

.searchBox {
    margin: 23px 0 1px;
    float: right;
    width: 30%;
}

.pivots {
    clear: left;
    width: 100%;
    height: 100%;
}

.leftNav {
    box-sizing: border-box;
    border-right: 1px solid #EEE;
    width: 10%;
    height: auto;
    float: left;
}

.rightPane {
    font-size: medium;
    margin-top: 20px;
    margin-left: 10%;
    width: 90%;
}
// .page-header {
//     flex: 1;
//     flex-direction: 'row'
// }

// .breadcrumb {
//     width: 50;
//     height: 50;
// }

// .container {
//     margin: auto;
//     padding: 10px;
// }

// .breadcrumb {
//     float: left;
//     width: 30%;
// }

.ms-Breadcrumb-item {
    display: flex;
}

.ms-FocusZone .ms-Pivot {
    border-bottom: 1px solid  #c8c8c8;
    grid-row: 2 / 3;
}

// .pivot-separator {
//     width: 0.2%;
//     height: 24px;
//     background-color: #c8c8c8;
//     margin-top: 23px;
//     display: inline-block;
// }

// .search-box {
//     margin-top: 23px;
//     float: right;
// }

// .pivot-bar {
//     margin-top: 30px;
// }

// .ms-Pivot {
//     margin-left: 60%;
// }