.ms-NavExample-LeftPane {
    box-sizing: border-box;
    border: 1px solid #EEE;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 1fr 8fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.grid {
    padding: 25px;
    font-size: 3rem;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.breadcrumb {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchBox {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    .item {
        grid-row: 2/3;
        grid-column: 1/2;
    }
}

.pivots {
    grid-column: 1 / 4;
    grid-row: 2 / 9;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 2fr 2fr 2fr;
}

.nav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.pane {
    font-size: medium;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
// .page-header {
//     flex: 1;
//     flex-direction: 'row'
// }

// .breadcrumb {
//     width: 50;
//     height: 50;
// }

// .container {
//     margin: auto;
//     padding: 10px;
// }

// .breadcrumb {
//     float: left;
//     width: 30%;
// }

.ms-Breadcrumb-item {
    display: flex;
}

.ms-FocusZone .ms-Pivot {
    border-bottom: 1px solid  #c8c8c8;
    grid-row: 2 / 3;
}

// .pivot-separator {
//     width: 0.2%;
//     height: 24px;
//     background-color: #c8c8c8;
//     margin-top: 23px;
//     display: inline-block;
// }

// .search-box {
//     margin-top: 23px;
//     float: right;
// }

// .pivot-bar {
//     margin-top: 30px;
// }

// .ms-Pivot {
//     margin-left: 60%;
// }